* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//for colors
$color1: #cbc0d3;
$color2: #efd3d7;
$color3: #feeafa;
$color4: #dee2ff;
$color5: #4a4e69;

//for display:flex
$column: column;
$row: row;
$center: center;
$flexStart: flex-start;
$flexEnd: flex-end;
$spaceBetween: space-between;
//@include flexBetween($column, $center, $center);
@mixin flexBetween($column, $center, $spaceBetween) {
  display: flex;
  flex-direction: $column;
  justify-content: $spaceBetween;
  align-items: $center;
}

//for borders
// @include borderTopProp($borderWidth, $borderStyle, $borderColor);

$borderWidth: 1px;
$borderStyle: solid;
$borderColor: #495057;
@mixin borderTopProp($borderWidth, $borderStyle, $borderColor) {
  border-top: $borderWidth $borderStyle $borderColor;
}
@mixin borderRightProp($borderWidth, $borderStyle, $borderColor) {
  border-right: $borderWidth $borderStyle $borderColor;
}
@mixin borderBottomProp($borderWidth, $borderStyle, $borderColor) {
  border-bottom: $borderWidth $borderStyle $borderColor;
}
@mixin borderLeftProp($borderWidth, $borderStyle, $borderColor) {
  border-left: $borderWidth $borderStyle $borderColor;
}

//beginning
body {
  @include flexBetween($column, $center, $center);
}

.container {
  @include flexBetween($column, $center, $center);
  color: $color5;
  margin-bottom: 100px;
  width: 50%;
  font-size: 1.5rem;

  @media only screen and (max-width: 600px) {
    width: 100%;
    font-size: initial;
  }

  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    width: 75%;
    font-size: 1.2rem;
  }

  h1 {
    text-align: center;
    padding: 2rem 1.5rem;
    background-color: $color1;
    // color: #eb5c3891;
    color: $color5;
    width: 100%;
    @media only screen and (max-width: 600px) {
      padding: 2rem 0.5rem;
    }

    @media only screen and (min-width: 601px) and (max-width: 1200px) {
      padding: 2rem 0.9rem;
    }
  }
  .section-one,
  .section-two {
    width: 100%;
    @include flexBetween($column, $center, $center);
    padding: 20px;
  }
  .section-one {
    background-color: $color2;
  }
  .section-two {
    background-color: $color3;
  }
  h3 {
    margin-bottom: 40px;
    justify-self: flex-start;
  }
  #celsius-input {
    padding: 0.5rem 0.5rem;
    @include borderTopProp($borderWidth, $borderStyle, $borderColor);
    @include borderRightProp($borderWidth, $borderStyle, $borderColor);
    @include borderBottomProp(3px, $borderStyle, $borderColor);
    @include borderLeftProp($borderWidth, $borderStyle, $borderColor);
    border-radius: 4px;
  }
  #sub {
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    background-color: #84a59d;
  }
  #celsius,
  #factors {
    padding: 1.5rem;
    line-height: 2.5rem;
    width: 100%;
    overflow-wrap: break-word;
    margin-top: 20px;
    @include borderTopProp($borderWidth, $borderStyle, $borderColor);
    @include borderRightProp($borderWidth, $borderStyle, $borderColor);
    @include borderBottomProp(3px, $borderStyle, $borderColor);
    @include borderLeftProp($borderWidth, $borderStyle, $borderColor);
    border-radius: 4px;
    @media only screen and (max-width: 600px) {
      line-height: 1.5rem;
    }
    @media only screen and (min-width: 601px) and (max-width: 1200px) {
      line-height: 1.8rem;
    }
  }

  #celsius {
    background-color: $color2;
  }

  #factors {
    background-color: $color3;
  }
}
footer {
  background-color: $color5;
  bottom: 0;
  position: fixed;
  height: 100px;
  width: 100%;
  color: #dee2ff;
  padding: 10px 20px;
  @include flexBetween($column, $flexStart, $spaceBetween);
  nav {
    width: 100%;
    @include flexBetween($row, $flexStart, $spaceBetween);
  }
  a {
    text-decoration: none;
    color: #dee2ff;
    padding: 1rem 6rem;
    @media only screen and (max-width: 600px) {
      padding: 1rem;
    }
    @media only screen and (min-width: 601px) and (max-width: 1200px) {
      padding: 1rem 4rem;
    }
  }
}
